.BarebonesBaseHud
{
    width: 100%;
    height: 100%;
}

#RPGBox
{
    horizontal-align: center;
    vertical-align: bottom;
    width: 500px;
	height: 200px;
    opacity: 1;
    margin-bottom: 200px;
    visibility: visible;
	background-color: #FFFFFF;
    border: 5px solid black;
	border-radius: 8px;
}

#DialogueText
{
	font-family: Courier New;
	color: black;
	horizontal-align: center;
    font-size: 32px;
    text-align: center;
}

.Button
{
	border: 2px solid black;
	border-radius: 5px;
	width: 80px;
	height: 50px;
	vertical-align: bottom;
}

.ButtonLabel
{
	font-family: Courier New;
	color: gray;
	vertical-align: center;
	horizontal-align: center;
	font-size: 36px;
    text-align: center;
}

.ButtonHover
{
	color: black;
}
#ButtonYes
{
	margin-left: 100px;
	margin-bottom: 10px;
	horizontal-align: left;
}

#ButtonNo
{
	margin-right: 100px;
	margin-bottom: 10px;
	horizontal-align: right;
}

#ability_list
{
	horizontal-align: center;
    vertical-align: bottom;
	margin-bottom: 206px;
	flow-children: right;
	border: 2px solid black;
	background-color: #272823;
}

.AbilityPanel
{
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.AbilityPanel.no_ability
{
	visibility: collapse;
}

#AbilityButton
{
	width: 80px;
	height: 80px;
	border: 2px solid transparent;
}

.is_passive #AbilityButton
{
	border: 2px solid #00000000;
}

#AbilityButton:hover
{
	border: 4px solid white;
}

#AbilityStatusBorder
{
	border: 2px solid transparent;
}